<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254803755155-0d22en8p016iadcaftgbj8cbhtur076t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254803755155-0d22en8p016iadcaftgbj8cbhtur076t</string>
	<key>API_KEY</key>
	<string>AIzaSyDr4juJ1ROqkZXLLrBv8ZpGl2YEwGoOkVc</string>
	<key>GCM_SENDER_ID</key>
	<string>254803755155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blitz.chessapp</string>
	<key>PROJECT_ID</key>
	<string>blitz-society</string>
	<key>STORAGE_BUCKET</key>
	<string>blitz-society.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254803755155:ios:0d58df0c06e70c8a3f8d66</string>
</dict>
</plist>